body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.jumbotron {
  text-align: center;
}

.big-icons {
  font-size: 30pt;
}

#menu-form-region_bis {
  padding: 10px 0px 0px 0px;
}

#menu-form-region_bis > span {
  color: lightgray;
}

#menu-form-region_bis option {
  color: gray;
}

#menu-form-select {
  width: auto;
  display: inline-block;
}

.cause {
  font-family: Consolas, Lucida Console, monospace;
  font-size: 9pt;
}


/* The ribbons */

.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.corner-ribbon.sticky{
  position: fixed;
}

.corner-ribbon.shadow{
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.corner-ribbon.top-right{
  z-index: 100;
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.corner-ribbon.ribbonred{background: #e43;}