<button id="failure-dialog_button" class="btn btn-primary hide" data-toggle="modal" data-target="#failure-dialog" data-backdrop="static" data-keyboard="false">See failure</button>
<div id="failure-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-danger">Failure</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissable alert-danger">
          <strong ng-bind-html="failure"/>
        </div>
        <div class="form-group">
          <label for="cause_textArea" class="control-label">Low level output:</label>
          <br />
          <div class="">
            <textarea class="form-control cause" readonly="true" rows="4" id="cause_textArea">{{cause}}</textarea>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary" data-dismiss="modal">Dismiss</button> -->
	<a href="/" class="btn btn-primary" ng-click="close_modal()">Go back to the main index</a>
      </div>
    </div>
  </div>
</div>

<button id="success-dialog_button" class="btn btn-primary hide" data-toggle="modal" data-target="#success-dialog" data-backdrop="static" data-keyboard="false">See success</button>
<div id="success-dialog" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title text-success">Success</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-dismissable alert-success">
          <strong>{{success}}</strong>
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button class="btn btn-primary" data-dismiss="modal">Dismiss</button> -->
	<a href="/" class="btn btn-xs btn-primary" ng-click="close_modal()">Go back to the main index</a>
	<a ng-If="success_target_url"  href="{{success_target_url}}" class="btn btn-lg btn-success">Go to your Panamax</a>
      </div>
    </div>
  </div>
</div>
