<div class="navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/welcome">DHub</a>
  </div>
  <div class="navbar-collapse collapse navbar-responsive-collapse">
    <ul class="nav navbar-nav">
      <li><a href="/create"><span class="glyphicon glyphicon-wrench"></span>Create</a></li>
      <li><a href="/access"><span class="glyphicon glyphicon-wrench"></span>Access</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-wrench"></span>Repair</a></li>
      <li class="active"><a href="/delete"><span class="glyphicon glyphicon-wrench"></span>Delete</a></li>
    </ul>
  </div>
</div>


<div class="row">

  <div class="col-lg-12">
    <div class="jumbotron">
      <h1>Delete your environment</h1>
      <p class="lead">
	<i class="mdi-social-whatshot big-icons"></i><br/>
	Clean everything, all data will be lost.
      </p>
      <a href="#" class="btn btn-danger"><i class="mdi-av-play-circle-fill .icons-material"></i> Start deletion</a>
    </div>
  </div>


</div>
